# =====================================================================
# AMBIENTES VIRTUAIS DE PYTHON (não devem ir para o GitHub)
# =====================================================================
.venv/
venv/
env/

# =====================================================================
# CACHE DO PYTEST (arquivos temporários de testes)
# =====================================================================
.pytest_cache/

# =====================================================================
# ARQUIVOS COMPILADOS DO PYTHON
# Evitam mandar .pyc e pastas __pycache__ para o repositório
# =====================================================================
__pycache__/
*.pyc

# =====================================================================
# CONFIGURAÇÕES DO VISUAL STUDIO CODE
# Não são necessárias no repositório
# =====================================================================
.vscode/
