# Ambientes virtuais Python
.venv/
venv/
env/

# Cache do pytest
.pytest_cache/

# Cache de compilação Python
__pycache__/
*.pyc

# Configurações do VSCode
.vscode/

# Arquivos do Terraform (não versionar estados e pastas internas)
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
